@import "vars";
@import "elements";
@import "mixins";

@keyframes anim {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

::selection {
  background: brown;
  color: #fff;
}

/*.test {
  background: red;
  color: red;
}*/

body {
  //background: red;
  font-family: "roboto", Arial, sans-serif;
  font-weight: normal;

  &:fullscreen  {
    background: red;
  }
}

nav {
  a {
    font-weight: bold;
  }
}

svg {
  color: currentColor;

  path {
    stroke: currentColor;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  border: 1px $color-border dotted;
  margin-block: rem(10px);

  h2 {
    font-size: rem(20px);
    font-weight: bold;
    animation: anim 3s ease-in-out infinite;
  }

  &.promo {
    padding: 1rem;
    background-image: url("../images/news_watch-big.png");
    background-size: cover;

    * {
      color: #fff;
    }
  }

  &.content {
    column-gap: 2rem;
    column-rule: 1px $color-border dotted;
    column-count: 3;
  }

  &.form {
    input {
      &::placeholder {
        color: red;
      }
    }
  }

  &.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;

    @media (min-width: 768px) {

      & {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .grid_item {
      border: 1px $color-border dotted;
    }
  }
}

.click {
  display: flex;
  padding: 1rem;
  transition: background-color 1s;
  background-color: rgba(255, 0, 0, .5);

  &:hover {
    background-color: rgba(255, 0, 0, 1);
  }
}
